/.venv
/data.db
/keys.py
/new.txt
/query.txt
/tmp
/tmp.html
/tmp.json
/tmp1.1.json
/tmp1.py
/tmp10.html
/tmp10.json
/tmp10.py
/tmp11.json
/tmp11.py
/tmp12.json
/tmp13.json
/tmp2.json
/tmp2.py
/tmp3.html
/tmp3.py
/tmp30.py
/tmp4.py
/tmp40.json
/tmp40musk.js
/tmp40musk.py
/tmp41musk.js
/tmp41musk.py
/tmp41profile.json
/tmp42.js
/tmp42.py
/tmpdelsoon.py
/tmpshedule.py